@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';
@import "leaflet/dist/leaflet.css";
@import "leaflet-draw/dist/leaflet.draw.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "tailwindcss";

/* Needed for x-cloak attribute alpine.js to work consistently */
[x-cloak] {
    display: none !important;
}

.leaflet-editing-icon {
    border-radius: 50%;
}

.tox-promotion {
    display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* Custom CSS for Single HTML Tag components goes here */

    /* Style Markdown components */
    .markdown {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: theme('fontWeight.bold');
            color: theme('colors.primary.DEFAULT');
            position: relative;
        }

        h1 {
            font-size: theme('fontSize.4xl')
        }

        h2 {
            font-size: theme('fontSize.2xl');
        }

        h3 {
            font-size: theme('fontSize.xl');
        }

        h4 {
            font-size: theme('fontSize.lg');
        }

        h5 {
            font-size: theme('fontSize.base');
        }

        p,
        pre {
            margin-bottom: theme('padding.4')
        }

        :not(pre) code {
            background-color: theme('colors.base.300');
            color: theme('colors.base.content');
            border-radius: theme('borderRadius.full');
            padding: 0 theme('padding.2');
        }

        a {
            color: theme('colors.accent.darker');
            font-weight: theme('fontWeight.bold');

            &:hover {
                color: theme('colors.accent.DEFAULT');
            }
        }

        ul ul {
            margin-left: 1rem;
        }

        li p {
            margin: 0;
        }

        li a:before {
            content: '# - '
        }

        .heading-permalink {
            transform: translate(-100%);
            width: fit-content;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -0.5rem;
            right: 0;
        }
    }

    /* Leaflet Specific Alterations */
    .leaflet-control-layers-expanded .leaflet-control-layers-list {
        font-size: 1rem;
    }

    .leaflet-control-scale-line {
        font-size: 1rem;
    }

    .leaflet-control-attribution {
        font-size: 1rem;
    }

    .symbiota-cluster-div {
        height: fit-content;
        width: fit-content;
    }

    .symbiota-cluster {
        display: inline-block;
        border-radius: 50%;
        min-width: 1rem;
        min-height: 1rem;
        padding: 3px;
        text-align: center;
        line-height: 1;
        box-sizing: content-box;
        white-space: nowrap;
        border: solid 2px black;
        transform: translate(-50%, -50%);
    }

    .symbiota-cluster:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        padding-top: 100%;
        height: 0;
    }

    .symbiota-cluster span {
        display: inline-block;
        vertical-align: middle;
        font-size: 1rem;
    }

    hr {
        color: theme('colors.base.300')
    }
}

@theme {
    --color-primary:#1B3D2F;
    --color-primary-lighter:rgb(32, 73, 56);
    --color-primary-darker:rgb(22, 49, 38);
    --color-primary-content:#FFFFFF;
    --color-secondary:#664147;
    --color-secondary-lighter:rgb(122, 78, 85);
    --color-secondary-darker:rgb(82, 52, 57);
    --color-secondary-content:#FFFFFF;
    --color-neutral:#494440;
    --color-neutral-lighter:rgb(88, 82, 77);
    --color-neutral-darker:rgb(58, 54, 51);
    --color-neutral-content:#FFFFFF;
    --color-accent:#BFD246;
    --color-accent-lighter:rgb(207, 221, 115);
    --color-accent-darker:rgb(162, 180, 44);
    --color-accent-content:#2D2D2D;
    --color-success:#22c55e;
    --color-success-lighter:rgb(57, 221, 117);
    --color-success-darker:rgb(27, 158, 75);
    --color-success-content:#2D2D2D;
    --color-warning:#eab308;
    --color-warning-lighter:rgb(248, 198, 43);
    --color-warning-darker:rgb(187, 143, 6);
    --color-warning-content:#2D2D2D;
    --color-info:#664147;
    --color-info-lighter:rgb(122, 78, 85);
    --color-info-darker:rgb(82, 52, 57);
    --color-info-content:#FFFFFF;
    --color-error:#ef4444;
    --color-error-lighter:rgb(244, 125, 125);
    --color-error-darker:rgb(226, 19, 19);
    --color-error-content:#FFFFFF;
    --color-link:#126c00;
    --color-link-lighter:rgb(162, 180, 44);
    --color-link-darker:rgb(14, 86, 0);
    --color-link-content:#FFFFFF;
    --color-base-100:#FFFFFF;
    --color-base-200:#F2F2F2;
    --color-base-300:#E0E0E0;
    --color-base-content:#2D2D2D;
}
