name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.docker-example', '.env');"

    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache

    - name: 'Build Docker Resources'
      run : |
        echo --- Building and Starting up docker ---
        docker compose pull
        docker compose up -d --no-build
        echo --- Containers Up ---

    - name: Debugging Container Failure
      if: failure()
      run: |
        docker ps
        docker logs symbiota-laravel-mariadb-1

    - name: Generate Application Key
      run: docker exec symbiota-laravel-web-1 php artisan key:generate

    - name: Execute tests (Unit and Feature tests) via PHPUnit/Pest
      run: docker exec symbiota-laravel-web-1 php artisan test

    - name: 'Run Playwright Tests'
      run: docker run --rm -v .:/var/www/html --network=host --ipc=host mcr.microsoft.com/playwright:v1.56.0-noble /bin/bash -c "cd /var/www/html && npm install @playwright/test@1.56.0 --save-dev && npx playwright test"

    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
